{
  "openapi": "3.1.0",
  "info": {
    "title": "sfc-api",
    "description": "Public preview API - subject to change. See https://docs.sfcompute.com/preview/roadmap for details.",
    "version": "0.1.0",
    "x-apievangelist": {
      "method": "searched",
      "generated": "2026-07-21",
      "source": "Reconstructed from per-operation OpenAPI blocks published on https://docs.sfcompute.com/preview/api-reference/* (Mintlify). 65 pages merged; paths + components unioned verbatim.",
      "note": "Public preview API (subject to change). Base path /preview/v2 under server https://api.sfcompute.com."
    }
  },
  "servers": [
    {
      "url": "https://api.sfcompute.com"
    }
  ],
  "security": [
    {
      "bearer_auth": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "The authenticated account and logged-in user."
    },
    {
      "name": "Pools",
      "description": "A bucket of owned compute balance over time."
    },
    {
      "name": "Orders",
      "description": "Estimate an order before placing it: filled price, fee, and operational notices."
    },
    {
      "name": "Instance Templates",
      "description": "Reusable instance configuration."
    },
    {
      "name": "Images",
      "description": "Custom machine images for instances."
    },
    {
      "name": "Roles",
      "description": "TOML-based permission role definitions."
    },
    {
      "name": "Grants",
      "description": "Bind principals (users or tokens) to roles on a workspace."
    },
    {
      "name": "Tokens",
      "description": "Workspace-scoped API tokens."
    },
    {
      "name": "Instances",
      "description": "Spin up instances in a capacity to use your available compute."
    },
    {
      "name": "Instance SKU Catalog",
      "description": "Browse available instance SKU property definitions."
    },
    {
      "name": "Procurements",
      "description": "Market automations that maintain capacity by placing buy/sell orders."
    },
    {
      "name": "Deployments",
      "description": "Deployment automations that maintain a fleet of instances, including spot deployments that buy capacity up to a maximum price."
    },
    {
      "name": "Users",
      "description": "Read-only access to users within the caller's organization."
    },
    {
      "name": "Workspaces",
      "description": "Resource containers scoped to an account."
    },
    {
      "name": "Permissions",
      "description": "Inspect what the caller is allowed to do."
    },
    {
      "name": "Billing",
      "description": "Billing profile, contacts, and auto top-up settings."
    },
    {
      "name": "Orderbook",
      "description": "Read-only orderbook visibility: bid/ask spread, depth, open and filled orders, and historical fills, keyed on hardware requirements + delivery window."
    }
  ],
  "paths": {
    "/preview/v2/deployments": {
      "post": {
        "tags": [
          "Deployments"
        ],
        "summary": "Create deployment",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nCreate a generic deployment that uses capacity already owned in a pool, or a spot deployment that buys capacity for a specific instance SKU at or below a maximum rate.",
        "operationId": "create_deployment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeploymentResourceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Deployment created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResource"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "409": {
            "description": "Pool and instance SKU already have an incompatible automation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "List deployments",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nList all deployments.",
        "operationId": "list_deployments",
        "parameters": [
          {
            "name": "workspace",
            "in": "query",
            "description": "Filter by workspace.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ResourcePathOrId_WorkspaceId"
            }
          },
          {
            "name": "pool",
            "in": "query",
            "description": "Filter by pool.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ResourcePathOrId_PoolId"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "u-int32",
              "default": 50,
              "maximum": 50,
              "minimum": 1
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DeploymentsCursor"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/DeploymentsCursor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of deployments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDeploymentsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/preview/v2/deployments/{id}": {
      "delete": {
        "tags": [
          "Deployments"
        ],
        "summary": "Delete deployment",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nDelete a deployment or spot deployment.",
        "operationId": "delete_deployment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ResourcePathOrId_DeploymentId"
                },
                {
                  "$ref": "#/components/schemas/ResourcePathOrId_SpotDeploymentId"
                }
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deployment deleted."
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Deployment not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "Get deployment",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nRetrieve a deployment or spot deployment by ID or resource path.",
        "operationId": "get_deployment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ResourcePathOrId_DeploymentId"
                },
                {
                  "$ref": "#/components/schemas/ResourcePathOrId_SpotDeploymentId"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deployment details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResource"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Deployment not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Deployments"
        ],
        "summary": "Update deployment",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nUpdate a deployment or spot deployment's configuration.",
        "operationId": "patch_deployment",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ResourcePathOrId_DeploymentId"
                },
                {
                  "$ref": "#/components/schemas/ResourcePathOrId_SpotDeploymentId"
                }
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchDeploymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Deployment updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeploymentResource"
                }
              }
            }
          },
          "400": {
            "description": "Deployment with this name already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Deployment not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/preview/v2/feature_flags": {
      "get": {
        "tags": [
          "Feature Flags"
        ],
        "summary": "List feature flags scoped to the caller",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nList every user-visible feature flag whose audience matches the caller, along with whether the caller is currently enrolled and whether the flag is self-enrollable via `POST /v2/feature_flags/{feature_flag}`. Flags with `user_enroll = false` are read-only here. Flags not marked `user_visible` are hidden from this listing entirely.",
        "operationId": "listUserFeatureFlags",
        "responses": {
          "200": {
            "description": "Feature flags listed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUserFeatureFlagsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/preview/v2/feature_flags/{feature_flag}": {
      "post": {
        "tags": [
          "Feature Flags"
        ],
        "summary": "Enroll or unenroll the caller in a feature flag",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nSet the caller's enrollment state for a self-enrollable feature flag.",
        "operationId": "setFeatureFlagEnrollment",
        "parameters": [
          {
            "name": "feature_flag",
            "in": "path",
            "description": "Feature flag name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetEnrollmentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Enrollment updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetEnrollmentResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Feature flag is not self-enrollable"
          },
          "404": {
            "description": "Feature flag doesn't exist or is unavailable"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/preview/v2/images": {
      "post": {
        "tags": [
          "Images"
        ],
        "summary": "Create image",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nCreate an image and start a multipart upload.",
        "operationId": "create_image",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Image created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "409": {
            "description": "Image already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "List images",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nList images in the specified workspace. Pass `sfc:workspace:sfcompute:public` as the workspace to list sfc-provided public images instead.",
        "operationId": "list_images",
        "parameters": [
          {
            "name": "workspace",
            "in": "query",
            "description": "Scope the returned list to a single workspace (ID, resource path, or name). Pass `sfc:workspace:sfcompute:public` to list sfc-provided public images. Without it, the returned list spans every workspace the caller has requisite permissions on (public images are not included \u2014 request them via the public workspace).",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ResourcePathOrId_WorkspaceId"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by image ID (repeatable).",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ImageId"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (1-200, default 50).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "u-int32",
              "default": 50,
              "maximum": 200,
              "minimum": 1
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor for forward pagination (from a previous response's `cursor` field).",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ImagesCursor"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "Cursor for backward pagination.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ImagesCursor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of images",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListImagesResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/preview/v2/images/{id}": {
      "delete": {
        "tags": [
          "Images"
        ],
        "summary": "Delete image",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nDelete an image.",
        "operationId": "delete_image",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Image ID, name, or resource path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A resource path like 'sfc:image:acme:prod:my-image' _or_ an ID. Resource paths are human-readable but not stable - they change when resources are renamed or moved. IDs are stable and permanent.",
              "examples": [
                "image_k3R-nX9vLm7Qp2Yw5Jd8F"
              ],
              "pattern": "(image_[0-9a-zA-Z_-]{1,21}|vmi_[0-9a-zA-Z_-]{1,21})|(sfc:image:[a-zA-Z0-9._-]+(:[a-zA-Z0-9._-]+){2,2})"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteImageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, or image cannot be deleted via this endpoint (e.g. default images)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Image not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "409": {
            "description": "Image is referenced by an instance template or in use by an active instance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Get image",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nRetrieve an image by ID. Returns both user-owned and public images.",
        "operationId": "fetch_image",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Image ID or resource path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A resource path like 'sfc:image:acme:prod:my-image' _or_ an ID. Resource paths are human-readable but not stable - they change when resources are renamed or moved. IDs are stable and permanent.",
              "examples": [
                "image_k3R-nX9vLm7Qp2Yw5Jd8F"
              ],
              "pattern": "(image_[0-9a-zA-Z_-]{1,21}|vmi_[0-9a-zA-Z_-]{1,21})|(sfc:image:[a-zA-Z0-9._-]+(:[a-zA-Z0-9._-]+){2,2})"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageListEntry"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Image not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/preview/v2/images/{id}/complete": {
      "post": {
        "tags": [
          "Images"
        ],
        "summary": "Complete image upload",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nFinalize a multipart image upload.",
        "operationId": "complete_image_upload",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Image ID, name, or resource path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A resource path like 'sfc:image:acme:prod:my-image' _or_ an ID. Resource paths are human-readable but not stable - they change when resources are renamed or moved. IDs are stable and permanent.",
              "examples": [
                "image_k3R-nX9vLm7Qp2Yw5Jd8F"
              ],
              "pattern": "(image_[0-9a-zA-Z_-]{1,21}|vmi_[0-9a-zA-Z_-]{1,21})|(sfc:image:[a-zA-Z0-9._-]+(:[a-zA-Z0-9._-]+){2,2})"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompleteUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Upload completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Image not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/preview/v2/images/{id}/download": {
      "get": {
        "tags": [
          "Images"
        ],
        "summary": "Download image",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nGet a presigned URL to download an image.",
        "operationId": "download_image",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Image ID, name, or resource path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A resource path like 'sfc:image:acme:prod:my-image' _or_ an ID. Resource paths are human-readable but not stable - they change when resources are renamed or moved. IDs are stable and permanent.",
              "examples": [
                "image_k3R-nX9vLm7Qp2Yw5Jd8F"
              ],
              "pattern": "(image_[0-9a-zA-Z_-]{1,21}|vmi_[0-9a-zA-Z_-]{1,21})|(sfc:image:[a-zA-Z0-9._-]+(:[a-zA-Z0-9._-]+){2,2})"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Download URL generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageDownloadResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Image not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "409": {
            "description": "Image upload not completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/preview/v2/images/{id}/parts": {
      "post": {
        "tags": [
          "Images"
        ],
        "summary": "Get upload part URL",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nGet a presigned URL to upload one part of a multipart image upload.",
        "operationId": "create_image_upload_part_url",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Image ID, name, or resource path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A resource path like 'sfc:image:acme:prod:my-image' _or_ an ID. Resource paths are human-readable but not stable - they change when resources are renamed or moved. IDs are stable and permanent.",
              "examples": [
                "image_k3R-nX9vLm7Qp2Yw5Jd8F"
              ],
              "pattern": "(image_[0-9a-zA-Z_-]{1,21}|vmi_[0-9a-zA-Z_-]{1,21})|(sfc:image:[a-zA-Z0-9._-]+(:[a-zA-Z0-9._-]+){2,2})"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadPartRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Upload URL generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadPartResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Image not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/preview/v2/images/{id}/reinstate": {
      "post": {
        "tags": [
          "Images"
        ],
        "summary": "Reinstate image",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nReinstate a revoked image, making it available for new instances again",
        "operationId": "reinstate_image",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Image ID, name, or resource path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A resource path like 'sfc:image:acme:prod:my-image' _or_ an ID. Resource paths are human-readable but not stable - they change when resources are renamed or moved. IDs are stable and permanent.",
              "examples": [
                "image_k3R-nX9vLm7Qp2Yw5Jd8F"
              ],
              "pattern": "(image_[0-9a-zA-Z_-]{1,21}|vmi_[0-9a-zA-Z_-]{1,21})|(sfc:image:[a-zA-Z0-9._-]+(:[a-zA-Z0-9._-]+){2,2})"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image reinstated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageListEntry"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, or public images cannot be reinstated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Image not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "409": {
            "description": "Only revoked images can be reinstated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/preview/v2/images/{id}/revoke": {
      "post": {
        "tags": [
          "Images"
        ],
        "summary": "Revoke image",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nRevoke a private image. Revoked images can't back new instances; existing instances continue running.",
        "operationId": "revoke_image",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Image ID, name, or resource path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A resource path like 'sfc:image:acme:prod:my-image' _or_ an ID. Resource paths are human-readable but not stable - they change when resources are renamed or moved. IDs are stable and permanent.",
              "examples": [
                "image_k3R-nX9vLm7Qp2Yw5Jd8F"
              ],
              "pattern": "(image_[0-9a-zA-Z_-]{1,21}|vmi_[0-9a-zA-Z_-]{1,21})|(sfc:image:[a-zA-Z0-9._-]+(:[a-zA-Z0-9._-]+){2,2})"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Image revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageListEntry"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden, or public images cannot be revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Image not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "409": {
            "description": "Image isn't in completed status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/preview/v2/instance_sku_property_catalog": {
      "get": {
        "tags": [
          "Instance SKU Catalog"
        ],
        "summary": "List instance SKU property catalog",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nList every property key and its allowed values. Use the keys and values here when filling in `requirements` on orders and procurements.",
        "operationId": "list_instance_sku_property_catalog",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (1-200, default 50).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "u-int32",
              "default": 50,
              "maximum": 200,
              "minimum": 1
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor for forward pagination (from a previous response's `cursor` field).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "Cursor for backward pagination.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated property catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInstanceSkuPropertyCatalogResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/preview/v2/instance_skus": {
      "get": {
        "tags": [
          "Instance SKUs"
        ],
        "summary": "List instance SKUs",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nList the instance SKUs available on the market with their properties.",
        "operationId": "list_instance_skus",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (1-200, default 50).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "u-int32",
              "default": 50,
              "maximum": 200,
              "minimum": 1
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor for forward pagination (from a previous response's `cursor` field).",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/InstanceSkusCursor"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "Cursor for backward pagination.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/InstanceSkusCursor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of instance SKUs.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInstanceSkusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/preview/v2/instance_skus/availability": {
      "get": {
        "tags": [
          "Instance SKUs"
        ],
        "summary": "List instance-SKU availability",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nThe purchasable-capacity schedule of every instance SKU. Each enshrined property is accepted as an equality filter.",
        "operationId": "list_instance_sku_availability",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results to return (1-200, default 50).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "u-int32",
              "default": 50,
              "maximum": 200,
              "minimum": 1
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor for forward pagination (from a previous response's `cursor` field).",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/InstanceSkusCursor"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "Cursor for backward pagination.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/InstanceSkusCursor"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter to a single SKU by id.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/InstanceSkuId"
            }
          },
          {
            "name": "region",
            "in": "query",
            "description": "Filter by region, e.g. `europe-north1`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "availability_zone",
            "in": "query",
            "description": "Filter by availability zone, e.g. `a`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accelerator",
            "in": "query",
            "description": "Filter by accelerator, e.g. `h100`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "form_factor",
            "in": "query",
            "description": "Filter by accelerator form factor, e.g. `sxm`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "rdma_type",
            "in": "query",
            "description": "Filter by RDMA type (`infiniband` or `roce`).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "num_accelerators",
            "in": "query",
            "description": "Filter by accelerators per node, e.g. `8`.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "u-int32",
              "minimum": 0
            }
          },
          {
            "name": "num_vcpus",
            "in": "query",
            "description": "Filter by vCPUs per node, e.g. `56`.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "u-int32",
              "minimum": 0
            }
          },
          {
            "name": "memory",
            "in": "query",
            "description": "Filter by total system memory in bytes.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "u-int64",
              "minimum": 0
            }
          },
          {
            "name": "local_storage",
            "in": "query",
            "description": "Filter by total local storage in bytes.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "u-int64",
              "minimum": 0
            }
          },
          {
            "name": "supports_public_ipv4",
            "in": "query",
            "description": "Filter by public-IPv4 capability.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated per-SKU availability.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInstanceSkuAvailabilityResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/preview/v2/instance_skus/{id}": {
      "get": {
        "tags": [
          "Instance SKUs"
        ],
        "summary": "Get instance SKU",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nRetrieve an instance SKU by ID, including its properties.",
        "operationId": "get_instance_sku",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Instance SKU ID",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/InstanceSkuId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance SKU details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceSku"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Instance SKU not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/preview/v2/instance_skus/{id}/availability": {
      "get": {
        "tags": [
          "Instance SKUs"
        ],
        "summary": "Get instance-SKU availability",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nThe purchasable-capacity schedule of one instance SKU.",
        "operationId": "get_instance_sku_availability",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Instance SKU ID",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/InstanceSkuId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The SKU's availability.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceSkuAvailability"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "404": {
            "description": "Instance SKU not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearer_auth": []
          }
        ]
      }
    },
    "/preview/v2/instance_templates": {
      "post": {
        "tags": [
          "Instance Templates"
        ],
        "summary": "Create instance template",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nCreate a reusable instance template.",
        "operationId": "create_instance_template",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInstanceTemplateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Instance template created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceTemplateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Instance Templates"
        ],
        "summary": "List instance templates",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nList all instance templates.",
        "operationId": "list_instance_templates",
        "parameters": [
          {
            "name": "workspace",
            "in": "query",
            "description": "Scope the returned list to a single workspace (ID, resource path, or name). Without it, the returned list spans every workspace the caller has requisite permissions on.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ResourcePathOrId_WorkspaceId"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by instance template ID or name (repeatable).",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ResourcePathOrId_InstanceTemplateId"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "u-int32",
              "default": 50,
              "maximum": 50,
              "minimum": 1
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Set to the response's `cursor` to fetch the next page.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/InstanceTemplatesCursor"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "Set to the response's `cursor` to fetch the previous page.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/InstanceTemplatesCursor"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional fields to include in the response.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/InstanceTemplateInclude"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of instance templates.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInstanceTemplatesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/preview/v2/instance_templates/{id}": {
      "delete": {
        "tags": [
          "Instance Templates"
        ],
        "summary": "Delete instance template",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nDelete an instance template. The template must not be in use by any capacity.",
        "operationId": "delete_instance_template",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A resource path like 'sfc:instance_template:acme:prod:my-instance_template' _or_ an ID. Resource paths are human-readable but not stable - they change when resources are renamed or moved. IDs are stable and permanent.",
              "examples": [
                "itmpl_k3R-nX9vLm7Qp2Yw5Jd8F"
              ],
              "pattern": "(itmpl_[0-9a-zA-Z_-]{1,21}|ntmpl_[0-9a-zA-Z_-]{1,21})|(sfc:instance_template:[a-zA-Z0-9._-]+(:[a-zA-Z0-9._-]+){2,2})"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Instance template deleted."
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Instance template not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Instance template is in use.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Instance Templates"
        ],
        "summary": "Get instance template",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nRetrieve an instance template by ID or resource path.",
        "operationId": "fetch_instance_template",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A resource path like 'sfc:instance_template:acme:prod:my-instance_template' _or_ an ID. Resource paths are human-readable but not stable - they change when resources are renamed or moved. IDs are stable and permanent.",
              "examples": [
                "itmpl_k3R-nX9vLm7Qp2Yw5Jd8F"
              ],
              "pattern": "(itmpl_[0-9a-zA-Z_-]{1,21}|ntmpl_[0-9a-zA-Z_-]{1,21})|(sfc:instance_template:[a-zA-Z0-9._-]+(:[a-zA-Z0-9._-]+){2,2})"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance template details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceTemplateResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Instance template not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/preview/v2/instances": {
      "post": {
        "tags": [
          "Instances"
        ],
        "summary": "Create instance",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nCreate an instance.",
        "operationId": "create_instance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInstanceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Instance created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Capacity not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation error (e.g. capacity limit reached).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Instances"
        ],
        "summary": "List instances",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nList all instances.",
        "operationId": "list_instances",
        "parameters": [
          {
            "name": "workspace",
            "in": "query",
            "description": "Scope the returned list to a single workspace (ID, resource path, or name). Without it, the returned list spans every workspace the caller has requisite permissions on.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ResourcePathOrId_WorkspaceId"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Filter by instance ID (repeatable).",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/InstanceId"
              }
            },
            "style": "form",
            "explode": true,
            "example": "inst_k3R-nX9vLm7Qp2Yw5Jd8F"
          },
          {
            "name": "pool",
            "in": "query",
            "description": "Filter by pool (repeatable). Instances on any of the given pools match.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ResourcePathOrId_PoolId"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by instance status (repeatable).",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/InstanceStatus"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "created_after",
            "in": "query",
            "description": "Filter to instances created at or after this Unix timestamp (seconds).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "created_before",
            "in": "query",
            "description": "Filter to instances created at or before this Unix timestamp (seconds).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "instance_sku",
            "in": "query",
            "description": "Filter by instance SKU (repeatable). Instances on any of the given SKUs match.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/InstanceSkuId"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "u-int32",
              "default": 50,
              "maximum": 200,
              "minimum": 1
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor for forward pagination (from a previous response's `cursor` field).",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/InstancesCursor"
            }
          },
          {
            "name": "ending_before",
            "in": "query",
            "description": "Cursor for backward pagination.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/InstancesCursor"
            }
          },
          {
            "name": "include",
            "in": "query",
            "description": "Additional fields to include in the response.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/InstanceInclude"
              }
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "Filter by tag key-value pair (repeatable). Format: `key=value` (the `=` between key and value must be percent-encoded in the URL).",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          },
          {
            "name": "tag_key",
            "in": "query",
            "description": "Filter by tag key existence (repeatable). Returns resources that have a tag with this key, regardless of the value.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": true
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of instances.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInstancesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Capacity not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Instances"
        ],
        "summary": "Update multiple instances",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nUpdate one or more instances atomically. All listed instances must be in the same workspace; mixed-workspace batches are rejected with 422.",
        "operationId": "batch_patch_instances",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchPatchInstancesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Instances updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BatchPatchInstancesResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "422": {
            "description": "Unknown instance, cross-workspace batch, or batch over the entry cap.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/preview/v2/instances/{id}": {
      "delete": {
        "tags": [
          "Instances"
        ],
        "summary": "Delete instance",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nDelete an instance.",
        "operationId": "delete_instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A resource path like 'sfc:instance:acme:prod:my-instance' _or_ an ID. Resource paths are human-readable but not stable - they change when resources are renamed or moved. IDs are stable and permanent.",
              "examples": [
                "inst_k3R-nX9vLm7Qp2Yw5Jd8F"
              ],
              "pattern": "(inst_[0-9a-zA-Z_-]{1,21}|vm_[0-9a-zA-Z_-]{1,21})|(sfc:instance:[a-zA-Z0-9._-]+(:[a-zA-Z0-9._-]+){2,2})"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Instance deleted."
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Instance not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "409": {
            "description": "Instance must be terminated before deletion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConflictError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Instances"
        ],
        "summary": "Get instance",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nRetrieve an instance by ID or name.",
        "operationId": "fetch_instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A resource path like 'sfc:instance:acme:prod:my-instance' _or_ an ID. Resource paths are human-readable but not stable - they change when resources are renamed or moved. IDs are stable and permanent.",
              "examples": [
                "inst_k3R-nX9vLm7Qp2Yw5Jd8F"
              ],
              "pattern": "(inst_[0-9a-zA-Z_-]{1,21}|vm_[0-9a-zA-Z_-]{1,21})|(sfc:instance:[a-zA-Z0-9._-]+(:[a-zA-Z0-9._-]+){2,2})"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instance details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Instance not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Instances"
        ],
        "summary": "Update instance",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nUpdate an instance. Omitted fields are left unchanged.",
        "operationId": "update_instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A resource path like 'sfc:instance:acme:prod:my-instance' _or_ an ID. Resource paths are human-readable but not stable - they change when resources are renamed or moved. IDs are stable and permanent.",
              "examples": [
                "inst_k3R-nX9vLm7Qp2Yw5Jd8F"
              ],
              "pattern": "(inst_[0-9a-zA-Z_-]{1,21}|vm_[0-9a-zA-Z_-]{1,21})|(sfc:instance:[a-zA-Z0-9._-]+(:[a-zA-Z0-9._-]+){2,2})"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchInstanceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Instance updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error (e.g. duplicate name).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Instance not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation error (e.g. field not applicable to this instance).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/preview/v2/instances/{id}/logs": {
      "get": {
        "tags": [
          "Instances"
        ],
        "summary": "Get instance logs",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nRetrieve logs for an instance.",
        "operationId": "get_instance_logs",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A resource path like 'sfc:instance:acme:prod:my-instance' _or_ an ID. Resource paths are human-readable but not stable - they change when resources are renamed or moved. IDs are stable and permanent.",
              "examples": [
                "inst_k3R-nX9vLm7Qp2Yw5Jd8F"
              ],
              "pattern": "(inst_[0-9a-zA-Z_-]{1,21}|vm_[0-9a-zA-Z_-]{1,21})|(sfc:instance:[a-zA-Z0-9._-]+(:[a-zA-Z0-9._-]+){2,2})"
            }
          },
          {
            "name": "seqnum_before",
            "in": "query",
            "description": "Return logs with `seqnum` less than or equal to this value.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "u-int64",
              "minimum": 0
            }
          },
          {
            "name": "seqnum_after",
            "in": "query",
            "description": "Return logs with `seqnum` greater than or equal to this value.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "u-int64",
              "minimum": 0
            }
          },
          {
            "name": "realtime_timestamp_before",
            "in": "query",
            "description": "Due to clock synchronization, some earlier log messages may have a realtime timestamp after this value.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/UnixEpoch"
            }
          },
          {
            "name": "realtime_timestamp_after",
            "in": "query",
            "description": "Due to clock synchronization, some later log messages may have a realtime timestamp before this value.",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/UnixEpoch"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "seqnum",
                "-seqnum"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "u-int64",
              "default": 100,
              "maximum": 2500,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Log chunks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceLogsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Instance not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerError"
                }
              }
            }
          }
        }
      }
    },
    "/preview/v2/instances/{id}/replace": {
      "post": {
        "tags": [
          "Instances"
        ],
        "summary": "Replace instance",
        "description": "> \u26a0\ufe0f This endpoint is in [public preview](/preview/roadmap).\n\nTerminates the target instance and creates a fresh one on the same capacity and SKU with a new image (and optionally a new startup script and name). Capacity, SKU, subnet, public IPv4, firewall, tags, and priority are inherited from the replaced instance. The two operations happen in a single transaction. Pass an `Idempotency-Key` header to make retries safe: a repeated request returns the replacement created by the first attempt instead of creating another one.",
        "operationId": "replace_instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "A resource path like 'sfc:instance:acme:prod:my-instance' _or_ an ID. Resource paths are human-readable but not stable - they change when resources are renamed or moved. IDs are stable and permanent.",
              "examples": [
                "inst_k3R-nX9vLm7Qp2Yw5Jd8F"
              ],
              "pattern": "(inst_[0-9a-zA-Z_-]{1,21}|vm_[0-9a-zA-Z_-]{1,21})|(sfc:instance:[a-zA-Z0-9._-]+(:[a-zA-Z0-9._-]+){2,2})"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional key that makes the request idempotent. Retries with the same key return the original replacement.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceInstanceRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Replacement instance created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (e.g. requested name already in use).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenError"
                }
              }
            }
          },
          "404": {
            "description": "Instance not found or already terminated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundError"
                }
              }
            }
          },
          "422": {
            "description": "Validation error (e.g. image not available).",
[...]
